<h1> <%= @note.title %> </h1>

<%= form_for @note, method: :put, remote:true do |f| %>
  <div>
    <%=f.label 'Название' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.rich_text_area :text %>
  </div>
  <div>
    <%= f.submit 'Изменить' %>
  </div>
<% end %>