<%= form_for @note, remote: true do |f| %>
  <div>
    <%=f.label 'Название' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.rich_text_area :text %>
  </div>
  <div>
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>