<h1 class="mb-4"><%= @note.title %></h1>
<p class="lead my-3">
  <%= @note.text %>
</p>

<%if @current_user %>
  <%= link_to 'Back', feed_url, class: 'btn btn-secondary' %>
  <%= link_to 'Edit', edit_note_url(@note), class: 'btn btn-secondary' %>
  <%= link_to 'Delete', note_url(@note), method: :delete, class: 'btn btn-danger', data: {confirm: 'Точно?'} %>
<%end %>
