<%= provide :navbar do %>
  <header class="p-3 bg-dark text-white">
    <div class="container-fluid">
      <nav class="d-flex flex-wrap align-items-center justify-content-around justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-around mb-md-0">
          <li><%= nav_tab 'Notes', root_path,
                          class: 'nav_link px-2 ', current_page: current_page %></li>
            <% if @current_user  %>
              <%= @current_user.email %>
              <%=nav_tab 'Log out',auth_url, method: :delete, class: 'nav_link px-2 ',current_page: current_page %>
            <%-else %>
              <%= nav_tab 'Sign Up', users_url, class: 'nav_link px-2',current_page: current_page%>
            <%end %>
          </li>
        </ul>
      </nav>
    </div>
  </header>
<%end %>