<div class="navbar">
  <%= link_to 'Стена', feed_url %>
  <%= link_to 'Новая заметка', new_note_url %>

  <% if @current_user  %>
    <%= @current_user.email %>
    <%=link_to 'Выйти',auth_url, method: :delete %>
  <%-else %>
    <%= link_to 'Войти', auth_url %>
  <%end %>
</div>